h1 {
    font-size: 2em;
    padding-top: 150px; 
   
  }

.question {
    width: 50vw;
}

  .alternative {
    padding-top: 20px;
  }

  .score {
    margin-top: 150px;
    width: 50vw;
  }

  .result {
    width: 50vw;
  }

  .timer {
    width: 10vw;
  }