@media (min-width: 901px) {
  .answer-quiz {
    max-width: 500px;
    padding: 14px;
    font-size: 20px;
  }

  .answer-container {
    .answer-quiz,
    .play-again-btn {
      width: 300px;
      font-size: 16px;
    }
  }

  h1 {
    font-size: 2em;
  }

  .alternative {
    padding-top: 20px;
  }

  .timer {
    width: 10vw;
  }
}
