.answer-container {
  .answer-quiz,
  .play-again-btn {
    width: 250px;
    font-size: 15px;
  }
}

h1 {
  font-size: 2em;
  padding-top: 200px;
}

.question {
  width: 50vw;
}

.alternative {
  padding-top: 20px;
}

.timer {
  width: 10vw;
}
