
/*
@media screen and (max-width:600px) {
    @import "_mobile";
}


@media screen and (min-width: 600px) {
    @import "_tablet";
}

@media screen and (min-width:1300px) {
    @import "_desktop";
}
    */
    


    
body {
    background-image:url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #747bff;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  h1 {
    font-size: 1.5em;
    text-align: center;
    color: #242424;
    padding-top: 40px; 
   
  }
  
  .question {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #242424;
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      
  }
  
  .alternative {
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 50vw;
    border-radius: 10px;
  }
  
  
  .result {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
    background-color: rgb(228, 239, 239);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

  }

  .score {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
    background-color: azure;

  }
  
  .timer {
    justify-content: center;
    text-align: center;
    display: flex;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 20vw;
    margin-top: 200px;
    border-radius: 10px;
  }