@use "/src/scss/animation.scss" as anim;

@media (min-width: 1024px) {
  .answer-quiz {
    width: 400px;
    padding: 14px;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2em;
  }

  .progress-bar {
    width: 60%;
  }
  .progress-bar {
    width: 60%;
  }

  .timer {
    width: 150px;
  }

  .flag-image {
    width: 450px;
    height: 300px;
  }

  .feedback {
    font-size: 5rem;
    top: 450px;
  }
  .question {
    margin: 100px 0 20px 0;
    font-size: 3rem;
  }
}
