@use "/src/scss/animations.scss" as anim;

@media (min-width: 1024px) {
  .answer-quiz {
    width: 250px;
    padding: 14px;
    font-size: 1.5rem;
  }

  .welcome {
    font-size: 2rem;
  }

  h1 {
    font-size: 2em;
  }

  .progress-bar {
    width: 60%;
  }
  .progress-bar {
    width: 60%;
  }

  .timer {
    width: 150px;
  }

  .start-game-btn {
    font-size: 3.5rem;
  }

  .flag-image {
    width: 300px;
    height: 200px;
  }

  .feedback {
    font-size: 3rem;
    top: 320px;
  }
  .question {
    margin: 50px 0 20px 0;
    font-size: 3rem;
  }
}
