@media (min-width: 1024px) {
  .answer-quiz {
    max-width: 500px;
    padding: 14px;
    font-size: 20px;
  }

  .answer-container {

    .answer-quiz,
    .play-again-btn {
      width: 300px;
      font-size: 1.1rem
    }
  }

  h1 {
    font-size: 2em;
  }

  .alternative {
    padding-top: 20px;
  }

  .timer {
    width: 6vw;
    font-size: 1.2rem;
  }

  .flags-icon {
    top: 13vh;
  }

  .question {
    margin-top: 100px;
  }

  .game-over {
    height: 35vh;
  }

  .flag .flag-image {
    height: 250px;
    width: 450px;
  }

}