@media screen and (max-width: 767px) {
  .answer-quiz {
    width: 150px;
    padding: 10px;
    font-size: 1rem;
  }

  .welcome {
    font-size: 1rem;
  }

  .timer {
    width: 100px;
    font-size: 1rem;
  }

  .question {
    margin: 50px 0 20px 0;
    font-size: 2rem;
  }

  .game-over {
    height: 40vh;
  }

  .flag-image {
    width: 200px;
    height: 135x;
  }

  .progress-bar {
    width: 75%;
  }

  .feedback {
    top: 235px;
    font-size: 1.5rem;
  }
}
