.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .answer-quiz {
    display: block;
    margin-bottom: 18px;
    padding: 12px;
    font-size: 14px;
    max-width: 300px;
    width: 200px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      background-color: #ccc9c9;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .answer-quiz {
    background-color: #ccc9c9;
  }
}

.timer {
  justify-content: center;
  text-align: center;
  display: flex;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  width: 20vw;
  margin-top: 60px;
  border-radius: 10px;
}

.play-again-btn {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  max-width: 200px;
  width: 150px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #14e014;
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    background-color: #097a34;
    transform: scale(1.05);
  }

  &:active {
    background-color: #003f7f;
    transform: scale(0.95);
  }
}

.question {
  font-size: 2rem;
}

/* General focus styles for all interactive elements */
button:focus,
a:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  outline: 2px solid #000102;
  /* Blue outline to indicate focus */
}

/* Specific styles for buttons */
button:focus {
  background-color: #0056b3;
  /* Change background on focus */
  color: #fff;
  /* Ensure text is still readable */
}

/* Links */
a:focus {
  text-decoration: underline;
  /* Underline for visual indication */
}

/* Input fields */
input:focus,
textarea:focus,
select:focus {
  border-color: #000409;
  /* Change border color */
  box-shadow: 0 0 4px #007bff;
  /* Optional glow */
}
