@media (min-width: 768px) {
  .answer-quiz {
    max-width: 350px;
    padding: 12px;
    font-size: 1.1rem
  }

  h1 {
    font-size: 2em;
  }

  .welcome {
    top: 50vh;
  }

  .question {
    margin-top: 120px;
    font-size: 2rem;
  }

  .alternative {
    padding-top: 20px;
  }

  .timer {
    width: 10vw;
    font-size: 1.2rem;
  }

  .flag .flag-image {
    margin-top: 5px;
    width: 350px;
    height: 180px;
  }

  .flags-icon {
    top: 10vh;
  }

  .start-game-btn {
  top: 55vh;
  font-size: 1.5;
  }

  .game-over {
    height: 35vh;
  }

  .footer {
    height: 60px;
  }

}