@use "/src/scss/animations.scss" as anim;

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .answer-quiz {
    width: 200px;
    padding: 12px;
    font-size: 1rem;
  }

  .welcome {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2em;
  }

  .question {
    margin: 50px 0 20px 0;
    font-size: 2.5rem;
  }

  .alternative {
    padding-top: 20px;
  }

  .timer {
    width: 120px;
    font-size: 1.5rem;
  }

  .flag-image {
    width: 250px;
    height: 170px;
  }

  .game-over {
    height: 35vh;
  }

  .progress-bar {
    width: 75%;
  }

  .feedback {
    font-size: 4rem;
    top: 380px;
  }
}
