@use "/src/scss/animation.scss" as anim;

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .answer-quiz {
    width: 300px;
    padding: 12px;
    font-size: 1rem;
  }

  h1 {
    font-size: 2em;
  }

  .welcome {
    top: 60vh;
  }

  .question {
    margin: 100px 0 20px 0;
    font-size: 2.5rem;
  }

  .timer {
    width: 120px;
    font-size: 1.5rem;
  }

  .start-game-btn {
    top: 55vh;
    font-size: 1.5rem;
  }

  .flag-image {
    width: 350px;
    height: 233px;
  }

  .game-over {
    height: 35vh;
  }

  .progress-bar {
    width: 75%;
  }

  .feedback {
    font-size: 4rem;
    top: 380px;
  }
}
